<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/poems/new">Submit a Poem</a> || <a href="/poems">Return to Index</a>
