<%- include('./partials/header.ejs') -%>

<h1>New Poem</h1>
<form class="submittable" action="/poems" method="post">
  <div class="form-group">
  <label for="title">Title:</label>
  <br/>
  <input class="form-control" type="text" name="title" placeholder="Enter Title">
  </div>
  <br/>
  <div class="form-group">
  <label for="author">Author:</label>
  <input class="form-control" type="text" name="author" placeholder="Enter Author, or leave blank for Anonymous">
  </div>
  <br/>
  <div class="form-group">
  <label for="content">Write your poem:</label>
  <textarea  class="form-control" id="content" name="content" rows="10" cols="100" placeholder="Enter Poem"></textarea>
  </div>
  <br/>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>

<%- include('./partials/footer.ejs') -%>
