p {
  white-space: pre-wrap;
}

h1 {
  text-align: center;
}

body {
  background-color: lightgray !important;
}

.col-sm-4 {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.nav {
  background-color: lightblue;
  margin-bottom: 20px !important;
}

#showPoem {
  background-color: white !important;
  border-radius: 100px;
}

.col-sm-8 {
  background-color: lightgray !important;
  margin-bottom: 5px;
}
