p {
  white-space: pre-wrap;
}

h1 {
  text-align: center;
}

body {
  background-color: lightgray !important;
}

.col-sm-4 {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.nav {
  background-color: lightblue;
  margin-bottom: 20px !important;
}

#showPoem {
  background-color: white !important;
  border-radius: 100px;
}

.col-sm-8 {
  background-color: lightgray !important;
  margin-bottom: 5px;
}

.titles {
  margin-top: 15px;
}
#top {
  width: 40px;
  padding: 5px;
}

.lead {
  text-align: center;
}

#frontpage {
  margin: 0 auto;
  display: block;
}

#footer {
  text-align: center;
  margin-top: 50px;
}

.card {
  position: relative
}

.w-100 {
  margin-bottom: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.submittable {
  margin-left: 10px;
  margin-right: 10px;
}

.wordbreak {
  word-wrap: break-word;
}

.btn-dark {
  margin-bottom: 10px;
}

#comment {
  width: 100%
}

#commentName {
  width: 40%
}

.scrollButton {
  position: fixed;
  bottom: 5%;
  right: 5%;
  box-shadow: 2px 2px 3px #999;
}
